body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.qr-card {
  display: flex;
  background-color: white;
  height: 500px;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
}
.short-para {
  font-weight: 400;
  text-align: center;
}
